elkcentral/elasticsearch-data/
elkcentral/docker-compose.yml
elkagent/docker-compose.yml
elkagent/filebeat-config/filebeat.yml
elkcentral/logstash-config/central.conf
elkcentral/nginx-config/passwords
